.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 2rem;
    font-family: cursive;
}
.bleu {
    background-color: blue;
    border: black solid 5px;
    width: 641px;
    height: 280px;
    position:absolute;
    left: 86px;
    top: 26px;
    z-index:2
}
.vert{
    background-color: green;
    border: black solid 5px;
    position: absolute;
    width: 750px;
    height: 350px;
    top: -10px;
}
.rouge{
    background-color: red;
    border: black solid 5px;
    width: 470px;
    height: 200px;
    position: absolute;
    bottom: 127px;
    right: 310px;
    z-index:3
}